@page
@model FantasyPL.Pages.FTModel
@{
}
<div class="center form">
    <h3>Your Fantasy Team</h3>
        <form method="post">
            @if (Model.Message.Length > 0)
            {
                    <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                        <string>@Model.Message</string>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
            }
        <div class="flexcontainer">
            <div style="margin: 5px">
                <label style="color:black">Points: </label>
                <label style="color:#0000FF">@GlobalVar.LoggedInUser.Points</label>
            </div>
            <div style="margin: 5px">
                <label style="color:black">Balance: </label>
                <label style="color:red">@GlobalVar.LoggedInUser.Balance</label>
            </div>
        </div>
        <input id="Toggle" type="button" value="Toggle View"/>
        <div id="container">
        <div class="position">
            @foreach (var player in GlobalVar.userPlayers)
            {
                @if (player.Position == "Attacker")
                {
                    <div class="player">
                        <img src=@string.Format(@GlobalVar.S, player.FPLcode)>
                        <div class="nameFT">@player.Fname @player.Lname</div>
                    </div>
                }
            }
        </div>
        <div class="position">
            @foreach (var player in GlobalVar.userPlayers)
            {
                @if (player.Position == "Midfielder")
                {
                    <div class="player">
                        <img src=@string.Format(@GlobalVar.S, player.FPLcode)>
                        <div class="nameFT">@player.Fname @player.Lname</div>
                    </div>
                }
            }
        </div>
        <div class="position">
            @foreach (var player in GlobalVar.userPlayers)
            {
                @if (player.Position == "Defender")
                {
                    <div class="player">
                        <img src=@string.Format(@GlobalVar.S, player.FPLcode)>
                        <div class="nameFT">@player.Fname @player.Lname</div>
                    </div>
                }
            }
        </div>
        <div class="position">
            @foreach (var player in GlobalVar.userPlayers)
            {
                @if (player.Position == "GoalKeeper")
                {
                    <div class="player">
                        <img src=@string.Format(@GlobalVar.S, player.FPLcode)>
                        <div class="nameFT">@player.Fname @player.Lname</div>
                    </div>
                }
            }
        </div>
</div>
        <table class="table" id="tabular">
            <tr>Player Details</tr>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Position</th>
                    <th>Fname</th>
                    <th>Mname</th>
                    <th>Lname</th>
                    <th>Player Number</th>
                    <th>Club Abbreviation</th>
                    <th>Points</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in GlobalVar.userPlayers)
                {
                    <tr>
                        <td>@player.Count</td>
                        <td>@player.Position</td>
                        <td>@player.Fname</td>
                        <td>@player.Mname</td>
                        <td>@player.Lname</td>
                        <td>@player.Player_Number</td>
                        <td>@player.Club_Abbreviation</td>
                        <td>@player.Points</td>
                        <td>@player.Price</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (GlobalVar.statusFT)
        {
            <div class="txt_field">
                <label for="player" id="playerlabel">Player</label>
                <select id="player" name="player" class="form-control">
                    @foreach (var player in GlobalVar.listPlayers)
                    {
                        @if (GlobalVar.userPlayers.Find(x => (x.Player_Number == player.Player_Number && x.Club_Abbreviation == player.Club_Abbreviation)) == null)
                        {
                            <option value='@player.Club_Abbreviation @player.Player_Number'>@player.Club_Abbreviation - @player.Player_Number - @player.Fname @player.Mname @player.Lname - @player.Position - Points:@player.Points - Price:@player.Price</option>
                        }
                    }
                </select>
            </div>
        }
        @if (GlobalVar.statusFT) {
            <input type="submit" value="Insert Player"/>

            <div class="txt_field">
                <label for="player2" id="playerlabel2">Player</label>
                <select id="player2" name="player2" class="form-control">
                    @foreach (var player in GlobalVar.userPlayers)
                    {
                        <option value="@player.Club_Abbreviation @player.Player_Number">@player.Club_Abbreviation - @player.Player_Number - @player.Fname @player.Mname @player.Lname - @player.Position - Points:@player.Points - Price:@player.Price</option>
                    }
                </select>
            </div>
            <input type="submit" name="Delete Player" id="Delete Player" value="Delete Player"/>
        }
        </form>
</div>
@section scripts{ 
	<script>
		$(function () {
			$("#club2").on("change", function() {
				$("#Refresh").click()
			});
		});
        $(function () {
            $("#Toggle").on("click", function () {
                $("#container").toggle()
                $("#tabular").toggle()
            })
        });
	</script>
}
