@page
@model FantasyPL.Pages.InsertEventModel
@{
}
<div class="center form">
	<h3>Add Events</h3>
	<form method="post">
		@if (Model.Message.Length > 0)
		{
			<div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
				<string>@Model.Message</string>
				<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
			</div>
		}
		@if (Model.hasEnd)
		{
			<div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
				<string>This match has ended</string>
				<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
			</div>
		}
<div class="txt_field">
		<label for="fixture" id="favclublabel">Fixture</label>      
		<select id="fixture" name="fixture" class="form-control">
				@foreach (var fixture in GlobalVar.listFixtures)
				{
					@if (fixture.ID == GlobalVar.fixture_in_insert_event.ID)
					{
									<option value="@fixture.ID" selected>@fixture.HomeSide vs @fixture.AwaySide - Gameweek: @fixture.Gameweek</option>
					}
					else
					{
						<option value="@fixture.ID">@fixture.HomeSide vs @fixture.AwaySide - Gameweek: @fixture.Gameweek</option>
					}
				}
		 </select>
	</div>
		@if (Model.hasStart && !Model.hasEnd)
		{
			<div class="txt_field">
				<label for="event" id="genderlabel">Event Type</label>      
				<select id="event" name="event" class="form-control">
					@foreach (var type in GlobalVar.EventTypes)
					{
						<option Value="@type">@type</option>
					}
				</select>
			</div>
			
			<div class="txt_field">
				<label for="club_abbr" id="nationalityLabel">Club</label>      
				<select id="club_abbr" name="club_abbr" class="form-control">
					@if (@GlobalVar.HA == true)
					{
						<option Value="@GlobalVar.fixture_in_insert_event.HomeSide" selected>@GlobalVar.fixture_in_insert_event.HomeSide</option>
					}
					else
					{
						<option Value="@GlobalVar.fixture_in_insert_event.HomeSide">@GlobalVar.fixture_in_insert_event.HomeSide</option>
					}
					@if (@GlobalVar.HA == false)
					{
						<option Value="@GlobalVar.fixture_in_insert_event.AwaySide" selected>@GlobalVar.fixture_in_insert_event.AwaySide</option>
					}
					else
					{
						<option Value="@GlobalVar.fixture_in_insert_event.AwaySide">@GlobalVar.fixture_in_insert_event.AwaySide</option>
					}
				</select>
			</div>
			<div class="txt_field">
				<label for="event_player" id="playerlabel2">Player</label>      
				<select id="event_player" name="event_player" class="form-control">
					@foreach (var player in GlobalVar.clubPlayers)
					{
						<option value="@player.Player_Number">@player.Fname @player.Mname @player.Lname</option>
					}
				</select>
			</div>
			<div class="txt_field">
				<input type="number" name='minute' min="0" />
				<label>Event Minute</label>
			</div>
			<input type="submit" name="insert" id="insert"  value="Insert Event"/>
			<input type="submit" name="end" id="end"  value="End Match"/>
			<input type="submit" name="Refresh" id="Refresh" value="Refresh" style="Display: none" />
		}
	<input type="submit" name="Refresh2" id="Refresh2" value="Refresh2" style="Display: none"/>
		@if (!Model.hasStart && !Model.hasEnd)
		{
			<input type="submit" name="start" id="start" value="Start Match" />
		}
	</form>
</div>
@section scripts{ 
	<script>
		$(function () {
			$("#club_abbr").on("change", function() {
				$("#Refresh").click()
			});
		});
		$(function () {
			$("#fixture").on("change", function() {
				$("#Refresh2").click()
			});
		});
	</script>
}
