@page
@model FantasyPL.Pages.InsertPlayerModel
@{
}
<br/>
<br />
<div class="center form">
<h3>Insert a Player</h3>
<form method="post">
		@if (Model.Message.Length > 0)
		{
				<div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
					<string>@Model.Message</string>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
		}
	<div class="txt_field">
		<label for="club3" id="clublabel">Club</label>
		<select id="club3" name="club3" class="form-control" value='@GlobalVar.playerQueried.Club_Abbreviation'>
		@foreach (var club in GlobalVar.listClubs)
		{
			@if (GlobalVar.playerQueried.Club_Abbreviation == club.Name_Abbreviation)
			{
					<option value="@club.Name_Abbreviation" selected>@club.Name</option>
			}
			else
			{
					<option value="@club.Name_Abbreviation">@club.Name</option>
			}
		}
		</select>
	</div>
	<div class="txt_field">
	 <input type="number" name='number' min="1" value='1' max="99" required/>
	 <label>Player No.</label>
	</div>
	<div class="name">
		<div class="txt_field">
			<input type="text" name='Fname' value='@GlobalVar.playerQueried.Fname' required/>
			<label>First Name</label>
		</div>
		<div class="txt_field">
			<input type="text" name='Mname' value='@GlobalVar.playerQueried.Mname' required/>
			<label>Middle Name</label>
		</div>
		<div class="txt_field">
			<input type="text" name='Lname' value='@GlobalVar.playerQueried.Lname' required/>
			<label>Last Name</label>
		</div>
	</div>
	<div class="txt_field">
		<label for="position" id="positionlabel">Position</label>
		<select id="position" name="position" class="form-control" value='@GlobalVar.playerQueried.Position'>
		@foreach (var position in GlobalVar.Positions)
		{
			@if (GlobalVar.playerQueried.Position == position)
			{
					<option value="@position" selected>@position</option>
			}
			else
			{
					<option value="@position">@position</option>
			}
		}
		</select>
	</div>
	<div class="txt_field">
	 <input type="number" name='price' min="3" max="15" value='3' required/>
	 <label>Price</label>
	</div>
	<div class="txt_field">
	 <input type="number" name='age' min="15" value='15' max="50" required/>
	 <label>Age</label>
	</div>
	<div class="txt_field">
	 <input type="number" name='height' min="150" max="300" value='130' required/>
	 <label>Height</label>
	</div>
	<div class="txt_field">
	 <input type="number" name='weight' min="50" max="200" value='50' required/>
	 <label>Weight</label>
	</div>
	<div class="txt_field">
		<label for="nationality" id="nationalityLabel">Nationality</label>      
		<select id="nationality" name="nationality" class="form-control" value='@GlobalVar.playerQueried.Nationality'>
				@foreach (var country in GlobalVar.Countries)
				{
					if (country == GlobalVar.playerQueried.Nationality)
					{
						<option selected Value="@country">@country</option>
					}
					else
					{
						<option Value="@country">@country</option>
					}
				}
		 </select>
	</div>
	<div class="txt_field">
			<input type="number" name='debut' min="2000" value='2000' max="@DateTime.Now.Year" required/>
		<label>Debut Year</label>
	</div>
	<div class="name">
		<div class="txt_field">
			<input type="number" name='contract' min="@DateTime.Now.Year" max="@DateTime.Now.Year + 15" value='@DateTime.Now.Year' required/>
			<label>Contract End Year</label>
		</div>
		<div class="txt_field">
			<input type="number" name='points' min="0" value='0' required/>
			<label>Points</label>
		</div>
	</div>
	<input type="submit" name="Insert" value="Insert"/>
</form>
</div>
