@page
@model FantasyPL.Pages.playerModel
@{
}
<h1>PLAYERS</h1>
<div class="flexcontainerdown">
	<div>
        <form method="post">
            @if (Model.Message.Length > 0)
            {
                <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                    <string>@Model.Message</string>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            }
            <div class="txt_field">
                <label for="club2" id="clublabel2">Club</label>
                <select id="club2" name="club2" class="form-control" value='@GlobalVar.playerQueried.Club_Abbreviation'>
                    @foreach (var club in GlobalVar.listClubs)
                    {
                        @if (GlobalVar.playerQueried.Club_Abbreviation == club.Name_Abbreviation)
                        {
                            <option value="@club.Name_Abbreviation" selected>@club.Name</option>
                        }
                        else
                        {
                            <option value="@club.Name_Abbreviation">@club.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="txt_field">
                <label for="player" id="playerlabel">Player</label>
                <select id="player" name="player" class="form-control" value='@GlobalVar.playerQueried.Fname'>
                    @foreach (var player in GlobalVar.clubPlayers)
                    {
                        @if (GlobalVar.playerQueried.Fname == player.Fname && GlobalVar.playerQueried.Mname == player.Mname && GlobalVar.playerQueried.Lname == player.Lname)
                        {
                            <option value="@player.Player_Number" selected>@player.Fname @player.Mname @player.Lname</option>
                        }
                        else
                        {
                            <option value="@player.Player_Number">@player.Fname @player.Mname @player.Lname</option>
                        }
                    }
                </select>
            </div>
            <table class="table">
                <tr>Player Details</tr>
                <thead>
                <tr>
                    <th>Fname</th>
                    <th>Mname</th>
                    <th>Lname</th>
                    <th>Position</th>
                    <th>Price</th>
                    <th>Age</th>
                    <th>Player Number</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Nationality</th>
                    <th>Debut Year</th>
                    <th>Contract Length</th>
                    <th>Club Abbreviation</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@GlobalVar.playerQueried.Fname</td>
                    <td>@GlobalVar.playerQueried.Mname</td>
                    <td>@GlobalVar.playerQueried.Lname</td>
                    <td>@GlobalVar.playerQueried.Position</td>
                    <td>@GlobalVar.playerQueried.Price</td>
                    <td>@GlobalVar.playerQueried.Age</td>
                    <td>@GlobalVar.playerQueried.Player_Number</td>
                    <td>@GlobalVar.playerQueried.Weight</td>
                    <td>@GlobalVar.playerQueried.Height</td>
                    <td>@GlobalVar.playerQueried.Nationality</td>
                    <td>@GlobalVar.playerQueried.Debut_Year</td>
                    <td>@GlobalVar.playerQueried.Contract_Length</td>
                    <td>@GlobalVar.playerQueried.Club_Abbreviation</td>
                    <td>@GlobalVar.playerQueried.Points</td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit"/>
            <input type="submit" name="Refresh" id="Refresh" value="Refresh" style="Display: none"/>
            <div class="flexcontainer">
                <a class="club_link" asp-area="" asp-page="/ViewPlayerLB">View Leaderboard</a>
            </div>
            @if (GlobalVar.LoggedInUser.UserType == 'A')
            {
                <div class="flexcontainer">
                    <a class="club_link" asp-area="" asp-page="/InsertPlayer">Insert Player</a>
                    <a class="club_link" asp-area="" asp-page="/EditPlayer">Edit Player</a>
                    <a class="club_link" asp-area="" asp-page="/deletePlayer">Delete Player</a>
                </div>
            }
        </form>
</div>
</div>
@section scripts{ 
	<script>
		$(function () {
			$("#club2").on("change", function() {
				$("#Refresh").click()
			});
		});
	</script>
}
