@page
@model FantasyPL.Pages.ProfileModel
@{
}
<div class="center form">
    <form method="post">
        <h3>Update Password</h3>
        @if (Model.Message.Length > 0)
        {
            <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                <string>@Model.Message</string>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        <div class="txt_field">
            <input type="password" name='old'/>
            <label>Enter your old password:</label>
        </div>
        <div class="txt_field">
            <input type="password" name='new1'/>
            <label>Enter your new password:</label>
        </div>
        <div class="txt_field">
            <input type="password" name='new2'/>
            <label>Enter your new password again:</label>
        </div>
        <input type="submit" value="Submit" />
        
        
        @if (GlobalVar.LoggedInUser.UserType == 'A')
        {
            <div class="flexcontainer">
             @if (GlobalVar.statusFT)
            {
                    <input type="submit" id="toggle" name="toggle" value="Toggle Fantasy Team Accessibility" style="background-color:green" />
            } else
            {
                    <input type="submit" id="toggle" name="toggle" value="Toggle Fantasy Team Accessibility" style="background-color:red" />
            }
            </div>
            <div class="flexcontainer">
            <a class="club_link" asp-area="" asp-page="/Register">Create Admin Account</a>
            <a class="club_link" asp-area="" asp-page="/DeleteUser">Delete User</a>
            </div>
            <div class="flexcontainer">
            <a style="background-color:black; color:white" class="club_link" href="../Home/CompUser" target="_self">User details with Competitions</a>
            <a style="background-color:black; color:white" class="club_link" href="../Home/PercentComp" target="_self">%Players from Club Supported</a>
            </div>
        } else {
            <div class="txt_field">
                <label for="favorite_club" id="favclublabel">Favorite Club</label>
                <select id="favorite_club" name="favorite_club" class="form-control">
                    <option Value="-">-</option>
                    @foreach (var club in GlobalVar.listClubs)
                    {
                        if(club.Name_Abbreviation == GlobalVar.FavClub){
                            <option Value="@club.Name_Abbreviation" selected>@club.Name</option>
                        }
                        else {
                            <option Value="@club.Name_Abbreviation">@club.Name</option>
                        }
                    }
                </select>
            </div>
            <input type="submit" id="club" name="club" value="Update" />
        }
     
        <div class="flexcontainer">
            <a class="club_link" asp-area="" asp-page="/Index">Logout</a>
        </div>
            
    </form>
</div>