@page
@model FantasyPL.Pages.RegisterModel
@{
}
<br/>
<br />
<div class="center form">
<h3>Register</h3>
<form method="post">
        @if (Model.Message.Length > 0)
        {
            <div class='alert alert-warning alert-dimsmissiable fade show flexcontainer' role='alert'>
                    <string>@Model.Message</string>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
    <div class="name">
	    <div class="txt_field">
		    <input type="text" name='Fname' value='@Model.userInfo.FirstName' required/>
		    <label>First Name</label>
	    </div>
	    <div class="txt_field">
		    <input type="text" name='Mname' value='@Model.userInfo.MiddleName' required/>
		    <label>Middle Name</label>
	    </div>
	    <div class="txt_field">
		    <input type="text" name='Lname' value='@Model.userInfo.LastName' required/>
		    <label>Last Name</label>
	    </div>
    </div>
    
    <div class="txt_field">
        <label for="country" id="countrylabel">Country</label>      
        <select id="country" name="country" class="form-control" value='@Model.userInfo.Country'>
            @foreach (var country in GlobalVar.Countries)
            {
                <option Value="@country">@country</option>
            }
         </select>
</div>
        @if (GlobalVar.isAdmin == false)
        {
            <div class="txt_field">
                <input type="text" name='FTname' value='@Model.userInfo.FantasyTeamName' required />
                <label>Fantasy Team Name</label>
            </div>
            <div class="txt_field">
                <label for="favorite_club" id="favclublabel">Favorite Club</label>
                <select id="favorite_club" name="favorite_club" value='@Model.userInfo.FavoriteClub' class="form-control">
                    @foreach (var club in GlobalVar.listClubs)
                    {
                        <option Value="@club.Name_Abbreviation">@club.Name</option>
                    }
                </select>
            </div>
        }
<div class="txt_field">
	<input type="text" name='Email' value='@Model.userInfo.Email' required/>
	<label>Email</label>
</div>
<div class="txt_field">
	<input type="text" name='username' value='@Model.userInfo.Username' required/>
	<label>Username</label>
</div>
<div class="txt_field">
	<input type="password" name='password' required/>
	<label>Password</label>
</div>
<div class='group'>
<div class="txt_field">
	<label for="gender" id="genderlabel">Gender</label>
	<select id="gender" name="gender" value='@Model.userInfo.Gender' class="form-control">
		<option value="M">Male</option>
		<option value="F">Female</option>
	</select>
</div>
    <div class="txt_field">
        <label for="birthday" id="birthdaylabel">Birthday</label>
        <input type="date" id="birthday" value='@Model.userInfo.Birthdate' name="birthday" required>
    </div>
</div>



<input type="submit" value="Register"/>
</form>
</div>