@page
@model FantasyPL.Pages.ViewClubLBModel
@{
}
<div class="center form">
	<table class="table">
		<thead>
			<tr>
				<th>Position</th>
				<th>Name</th>
				<th>Wins</th>
				<th>Draws</th>
				<th>Losses</th>
				<th>Goals For</th>
				<th>Goals Against</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var club in GlobalVar.listClubs)
			{
					<tr>
						<td>@club.Position</td>
						<td>@club.Name</td>
						<td>@club.Wins</td>
						<td>@club.Draws</td>
						<td>@club.Losses</td>
						<td>@club.Goals_For</td>
						<td>@club.Goals_Against</td>
						<td>@club.Points</td>
					</tr>
			}
		</tbody>
	</table>
</div>